:root {
  --redOrange: #f45c43;
  --lightRed: #eb3349;
  --lightBlueGray: #edf5f9;
  --darkGray: #121212;
  --primary: #0263f4;
  --lightPrimary: #4890fc;
  --darkPrimary: #0347ae;
  --secondary: #f5f5ff;
  --secondaryTwo: #f08c21;
  --secondaryOrange: #fb7d0f;
  --secondaryOrangeTwo: #fb7d0f;
  --secondaryOrangeThree: #ffd686;
  --blackFive: #112244;
  --subtext: #292929;
  --blackTen: #444150;
  --bgInput: #f0f8ff;
  --alertWarning: #ff3d00;
  --alertRemove: #ee5555;
  --fade: #dadada;
  --gray: #f5faff;
  --lightGray: #f7f8f9;
  --grayTwo: #f1f2f6;
  --grayThree: #e9eaf3;
  --grayFour: #d6d9db;
  --grayFive: #edf5f9;
  --graySix: #f9f9fa;
  --graySeven: #e1e3e7;
  --grayEight: #e6e9ee;
  --textGrayTwo: #5a6689;
  --textGrayThree: #afafaf;
  --paleBlue: #dae0eb;
  --paleBlueTwo: #e6ebfa;
  --textGrayOne: #7c7c7c;
  --lightGreen: #e8fcf1;
  --darkGreen: #00632b;
  --lightPurple: #ededfc;
  --darkPurple: #291ccb;
  --altPrimary: #210060;
}
